node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.dev
.env.testing
.env.production
.DS_Store
.dockerignore
docker-compose.yml
.docker
coverage
.nyc_output
.vscode
.phpunit.result.cache
.php_cs.cache